---
name: Testing

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  run-build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: read
      statuses: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Installing dependencies
        run: bun install --frozen-lockfile

      - name: Generate Types
        run: bun run generate-types
